/* --------------------
- Owner: 	Ryan Jeffery
- Date:		November 23, 2023
- Section:	CSS Variables 
-------------------- */
/* Variables colors to assist JS light/dark mode function */
:root {
	/* Color variables */
	--background-color-light: #f5f5f5;
	--header-background: #f5f5f5;
	--navbar-color: #2b3634;
	--h1-color: #41534f;
	--h2-color: #637e77;
	--h3-color: #7ea69c;
	--h4-color: #000000;
	--p-color: #000000;
	--dmode-button-text-color: #fff;
	--dmode-button-background: #2b3634;
	/* Color variables for dark mode */
	--background-color-dark: #39403d;
	--header-background-dark: #14191a;
	--navbar-color-dark: #1f2726;
	--h1-color-dark: #7ea69c;
	--h2-color-dark: #8daca3;
	--h3-color-dark: #b0dad0;
	--h4-color-dark: #f5f5f5;
	--p-color-dark: #f5f5f5;
	--dmode-button-text-color-dark: #ebee22;
	--dmode-button-background-dark: #0a0a0a;
}

/* --------------------
- Ryan Variable Section End
-------------------- */

/* --------------------
- Owner: 	Lilit Markarian
- Date:		November 23, 2023
- Section:	Header and Logo
-------------------- */
/* Customization of the header at the top of the website */
header {
	background-color: var(--header-background);
	padding: 5px;
	margin-bottom: 5px;
	justify-content: space-between;
}

/* Customization of the logo of the website */
.logo{
	width: 195px;
	height: 111px;
	margin: 0;
}
/* --------------------
- Lilit Header and Logo Section End
-------------------- */

/* --------------------
- Owner: 	Ryan Jeffery
- Date:		November 23, 2023
- Section:	Body CSS 
-------------------- */
/* Customization of the site as a whole */
body {
	background-color: var(--background-color-light);
	font-family: helvetica, arial, sans-serif;
	margin: 0;
}

* {
	box-sizing: border-box;
}
/* --------------------
- Ryan Body CSS Section End
-------------------- */

/* --------------------
- Owner: 	Lori Lowy & Craig Jurkiewicz
- Date:		November 23, 2023
- Section:	NAVIGATION BAR CSS
- Inspired By: 	https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp
               	https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp
		https://www.w3schools.com/howto/howto_css_menu_icon.asp
		 
-------------------- */
/* Customization of the navigation bar */
.navbar {
	overflow: hidden;
	background-color: var(--navbar-color);
	transition: .3s ease-in-out;
}

/* Customization of the links in the navigation bar */
.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	display: block;
}

/* Selects active class for current page */
.active {
	background-color: #637e77;
	color: white;
}

/* Customization of the navigation bar dropdown */
.dropdown {
	float: left;
	overflow: hidden;
}

/* Customization of the dropdown button */
.dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

/* Customization of the navigation bar links when mouse hovers over them */
.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #7ea69c;
	transition: 0.3s;
}

/* Customization of the navigation bar dropdown content */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	 
}

/* Customization of the links in the navigation bar dropdown */
.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	animation-duration: 0.5s;
    animation-name: fadeInFromNone;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: fadeInFromNone;
    -webkit-animation-fill-mode: forwards;
    -ms-animation-duration: 0.5s;
    -ms-animation-name: fadeInFromNoneIE;
    -ms-animation-fill-mode: forwards;
}
@-webkit-keyframes fadeInFromNone {
    0% {
        opacity: 0
    }

    1% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeInFromNoneIE {
    0% {
        opacity: 0
    }

    1% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeInFromNone {
    0% {
        opacity: 0
    }

    1% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

/* Customization of the navigation bar dropdown text when mouse hovers over them */
.dropdown-content a:hover{
	background-color: #e0e0e0;
}

/* Shows the dropdown menu on hover */
.dropdown:hover .dropdown-content{
	display: block;
	opacity: 1;
	visibility: visible;
	 
}

/* Responsive Design for the navigation bar */
@media screen and (max-width: 925px) {
	/* Selects navbar links and the drop btn class in dropdown class */
	.navbar a, .dropdown .dropbtn {
    	display: none;
		 
 	}
	
	/* Selects all elements in the navbar and responsive class */
	.navbar.responsive {position: relative;}
	
	/* Selects links in both navbar and responsive class */
	.navbar.responsive a {
		float: none;
		display: block;
	  	text-align: left;
	  	 
	}
	
	/* Selects dropdown in the navbar and responsive class */
	.navbar.responsive .dropdown {float: none;}
	
	/* Selects dropdown content in the navbar and responsive class */
	.navbar.responsive .dropdown-content {position: relative;}
	
	/* Selects dropdown button in the navbar and responsive class */
	.navbar.responsive .dropdown .dropbtn {
	  display: block;
	  width: 100%;
	  text-align: left;
	   
	}
	
	/* Selects hamburger class (menu icon) */
	.hamburger {
		cursor: pointer;
		float: right;
		transition: ease-in-out.3s;
		position: relative;
		padding-right: 5px;
		display: block;
	}
	
	/* CSS for the 3 bars, adding a transition effect as well so when the animation is run there is a smooth transition */
	.bar1, .bar2, .bar3 {
		width: 35px;
		height: 5px;
		background-color: white;
		margin: 6px 0;
		transition: 0.3s;
	}
	
	/* Animation, where bars 1 and 3 will move to a 45 degree angle and the middle bar will disappear */
	.change .bar1 {transform: translate(0, 11px) rotate(-45deg);}
	.change .bar2 {opacity: 0;}
	.change .bar3 {transform: translate(0, -11px) rotate(45deg);}
}
/* --------------------
- Lori & Craig Navigation Bar CSS Section End
-------------------- */

/* --------------------
- Owner: 	Helen Plesko
- Date:		November 21, 2023
- Section:	CSS Heading Styles 
- Colour inspiration from: https://www.colorhexa.com/
-------------------- */
/* Customization of Header 1 */
h1 {
	color: var(--h1-color);
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	font-family: helvetica, arial, sans-serif;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 5px;
	padding-top: 20px;
}

/* Customization of Header 2 */
h2 {
	color: var(--h2-color);
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	font-family: helvetica, arial, sans-serif;
	padding-left: 10px;
	padding-right: 10px;
}

/* Customization of Header 3 */
h3 {
	color: var(--h3-color);
	text-align: center;
	font-weight: normal;
	font-size: 20px;
	font-family: helvetica, arial, sans-serif;
	padding-left: 10px;
	padding-right: 10px;
}

/* Customization of Header 4 */
h4 {
	color: var(--h4-color);
	text-align: left;
	font-weight: bold;
	font-size: 17px;
	font-family: helvetica, arial, sans-serif;
	padding-left: 10px;
	padding-right: 10px;
}

/* Customization of paragraph text */
p {
	color: var(--p-color);
	text-align: left;
	font-weight: normal;
	font-size: 15px;
	font-family: helvetica, arial, sans-serif;
	padding-left: 10px;
	padding-right: 10px;
}
/* --------------------
- Helen Heading & Paragraph Styles Section End
-------------------- */

/* --------------------
- Owner: 	Craig Jurkiewicz
- Date:		November 23, 2023
- Section:	Comment Box CSS (in progress)
- Inspired By: 	https://www.w3schools.com/howto/howto_css_contact_section.asp
-------------------- */
/* --------------------
/* --------------------
- Owner: 	Craig Jurkiewicz
- Date:		November 23, 2023
- Section:	Comment Box CSS (in progress)
- Inspired By: 	https://www.w3schools.com/howto/howto_css_contact_section.asp
-------------------- */
 
/* div to hold everything that's involved with the contact section and style the area outside the contact box*/
.flex-container{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 20px;
 }

/* div that holds all the content */
 .contactcontainer{
	 
	width: 85%;
	background: #fff;
	border-radius: 6px;
	padding: 20px 60px 30px 40px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
/* organinzing the content inside the container */
.contactcontainer .contactcontent{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* organizing the area  on the elft side of the content box*/
.contactcontainer .contactcontent .left-side{
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
	position: relative;
}
/* creating a long | to help stylize and seperate content from the left and ride side of the contact box*/
.contactcontent .left-side::before{
	content: '';
	position:  absolute;
	height: 70%;
	width: 2px;
	background: black;
	 transform: translateY(-50%);
	right: 0px;
	top: 50%;
	}

 

 
 
/* stylizing the text reas on the left hand side */
	.contactcontent .left-side .details .text-one,
	.contactcontent .left-side .details .text-two{
	font-size: 16px;
	color: rgb(58, 57, 68);
	}

	/* creating a margin and centering the text  and icons  on the left side of the div*/
.contactcontent .left-side .details{
	margin: 14px;
	text-align: center;	
}
 /* adding style to the topic section text on the left hand side for the address phone number and email address  */
.contactcontent .left-side .details .topic{
font-size: 18px;
font-weight:500;
}
/* stylizing the icons on the left hand side of the contact section*/
.contactcontent .left-side .details i{
font-size: 30px;
color: rgb(227, 58, 58);
}
 
/* creating a larger divide between the left and ride side of the contact box */
.contactcontainer .contactcontent .right-side{
	width: 75%;
	margin-left:50px;
	}
	/* adding style to the input moxes with specific height width and margin*/
	.right-side .input-box{
		height: 50px;
		width: 100%;
		margin: 12px 0;
	  }
	  /* adding Style to the right side topic text (Contact US) */
.contactcontent .right-side .topic-text{
font-size: 23px;
font-weight: 600;
color: rgb(5, 5, 5)
}
 
/* adding padding to line up the label with the below text in the div */
label{
	padding-left: 12px;
}
    /* adding style to the select box container*/
 .select-box{
	display:flex;
	justify-content: center;
	position: relative;
	border-radius: 6px;
	padding-left: 6px;
	width: 150px;
	height: 25px;
	background-color: #F0F1F8;
	}
 

/* adding style to the input box areas where the user inputs their name, email address and messege for LayerLarks*/
	 .right-side .input-box input,
	 .right-side .input-box textarea{
		 height: 100%;
		 width: 100%;
		 border: none;
		 outline: none;
		 font-size: 16px;
		 background: #F0F1F8;
		 border-radius: 6px;
		 padding: 0 15px;
		 resize: none;
	 }
.right-side .message-box{
	min-height: 110px;
	} 
	/* adding some padding to the messege box*/
	.right-side .input-box textarea{
		padding-top: 6px;
	  }
	  /* adding style to the contact button to create some distance between above divs*/
	  .right-side .contactbutton{
		display: inline-block;
		margin-top: 12px;
	  }

	  /* adding style to the submit button */
.right-side .contactbutton input[type="button"]{
	color: #fff;
	font-size: 15px;
	outline:mnone;
	border:none;
	padding: 8px 16px;
	border-radius: 6px;
	background-image:  linear-gradient(180deg, rgb(220, 216, 216), rgb(0, 0, 0));

	cursor: pointer;
	transition: all 0.3s ease;
}

/* changing the color fo the button when the user hobers over it*/
.contactbutton input[type="button"]:hover{
	background: #044603;
  }

/*adding responsive design to the contact box */
 
  @media (max-width: 820px) {
	.contactcontainer{
	  margin: 40px 0;
	  height: 100%;
	}
	select {
		padding-left: 8px;
		margin-left: 0;
	  }
	.contactcontainer .contactcontent{
	  flex-direction: column-reverse;
	}
   .contactcontainer .contactcontent .left-side{
	 width: 100%;
	 flex-direction: row;
	 margin-top: 40px;
	 justify-content: center;
	 flex-wrap: wrap;
   }
   .contactcontainer .contactcontent .left-side::before{
	 display: none;
   }
   .contactcontainer .contactcontent .right-side{
	 width: 100%;
	 margin-left: 0;
   }

   }
 

  
 /* --
 Craig Comment Box Section End
-- */
  
  
/* --------------------
- Owner: 	Craig Jurkiewicz 
- Date:		November 23, 2023
- Section:	Testimonials
- Inspired By:	https://www.youtube.com/watch?v=-XX6MgbzQa8 
-------------------- */ 
 /* classes for the banner adn header having a slightly opaque  background for the header and ensuring no items overlap */ 
 .testibanner{
	position: relative;
	width: 100%;
	height: 150px;
	display: inline-block;
	align-items: center;
	justify-content: center;
	 
}
	 
	
	.testibanner h1{
		position: relative;
		text-align: center;
		font-size: 40px;
		border-radius: 26px;
		padding: 20px;
		margin: 15px;
		background-color: rgb(233, 233, 233);
		opacity: 0.7;
		 
	}
	/* First div that encompasses all the boxes on testimonial page */ 
	.wrapper{
		max-width: 1200px;
		margin: auto;
		padding: 0 20px;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: space-around;
	  }
	/* adding changes to test for pullign */ 
	  /* grabbing all the content thats in the .box class thats wrapped inside the .wrapper class  */
	  .wrapper .box{
		width: calc(33% - 10px);
		padding: 25px;
		margin: 10px;
		border-radius: 20px;
		box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
		background-color: #57595d;
		background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
		 
	  }
	
	  /* adjusting changes and comments */
	  /* adjusting the size of the quotes that are stacked inside the two div's */ 
	  .wrapper .box i.quote{
		font-size: 15px;
		color: black;
	  }
	 
	
	  /* code to adjust and align items in the content inside the box and wrapper, having the content be centered, putting space between the content and having items that are fleixble, wrap */
	  .wrapper .box .testicontent{
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: 25px;
		margin-bottom: 25px;
		background-color: #a6a6a6;;
		border-radius: 20px;
		width:fit-content + 5px;
	  }
	
	  /* having the name div inside the info and box have a font weight and size */
	  .box .info .name{
		font-weight: 600;
		font-size: 17px;
		text-align: center;
	  }
	
	   /* having the font size of the job information inside the .info and .box divs */
	  .box .info .job{
		font-size: 16px;
		font-weight: 500;
		color: black;;
		text-align: center;
	  }
	
	  /* creaing a margin for the .stars class inside the .box .info */
	  .box .info .stars{
		margin-top: 2px;
		text-align: center;
	  }
	
	  /* color for the stars inside the div's */
	  .box .info .stars i{
		color: white;
		text-align: center;
	  }
	
	  /* adjusting the div inside the client image class , with a border radius and different background color than the iamge itself's*/
	  .box .testicontent .clientimage{
		position: relative;
		height: 150px;
		width: 150px;
		padding: 4px;
		background: #2b3634;
		border-radius: 100%;
		margin-left: auto;
		margin-right: auto;
		display:block;
	  }
	
	  /* css for the image itself, having a smaller border around the image to create a layering effect */
	  .testicontent .clientimage img{
		height: 100%;
		width: 100%;
		object-fit: cover;
		border-radius: 75%;
		border: 4px solid #362f2b;
	  }
	 
	   /* changes the webpage to stack the boxes on top of each other when the screen size is 950pixels wide, overall making the webpage more responsive*/
	   @media screen and (max-width: 950px) {
		.wrapper .box{
			width: 100%;
			align-items: center;
			margin:70px;
		}
		.wrapper .box .testicontent{
			width:250px;
		
		}
		.box .testicontent .clientimage{
			align-items: center;
			margin-left: auto;
	  		margin-right: auto;
	  		display:block;
	}

	   }
	 
	
	 
 

 
/* --------------------
- Craig Testimonials Styles Section End
-------------------- */

/* --------------------
- Owner: 	Helen Plesko
- Date:		November 23, 2023
- Section:	FOOTER CSS 
- Inspired By:	https://www.evarigisconsulting.com/
				https://www.w3schools.com/html/html_layout.asp
				https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_social_media_buttons
				https://programmersportal.com/how-to-center-social-media-icons-using-css/
-------------------- */
/* Customization of footer background */
footer {
	position: static;
	background-color: var(--navbar-color);
	padding-top: 30px;
	padding-bottom: 30px;
}

.footertext p {
	color: #FFF;
	text-align: center;
	font-weight: normal;
	font-size: 13px;
	font-family: helvetica, arial, sans-serif;
}

/* Customization of footer address info */
address {
	color: #cfcfcf;
	text-align: center;
	font-weight: normal;
	font-size: 13px;
	font-family: helvetica, arial, sans-serif;
}

/* Customization of all footer social media icons */
.fab {
	padding: 15px;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	transition: .3s ease-in-out;
}

/* Customization of footer social media icon hover - makes icon semi-transparent when user hovers over it */
.fab:hover {
    opacity: 0.5;
}

/* Customization of footer Facebook icon */
.fa-facebook {
	background: #637e77;
	color: #FFF;
}

/* Customization of footer Twitter icon */
.fa-twitter {
	background: #637e77;
	color: #FFF;
}

/* Customization of footer Instagram icon */
.fa-instagram {
	background: #637e77;
	color: #FFF;
}

/* Centers the icon on the webpage */
.centericon {
	display: flex;
    	column-gap: 10px;
    	justify-content: center;
}
/* --------------------
- Helen Footer Section End
-------------------- */

/* --------------------
- Owner: 	Ryan and Lilit
- Date:		November 23, 2023
- Section:	Toggle Dark Mode
- Inspired By:	https://www.w3schools.com/howto/howto_js_toggle_dark_mode.asp
-------------------- */
/* Customization of Dark Mode */
.dark-mode {
	--background-color-light: var(--background-color-dark);
	--header-background: var(--header-background-dark);
	--navbar-color: var(--navbar-color-dark);
	--h1-color: var(--h1-color-dark);
	--h2-color: var(--h2-color-dark);
	--h3-color: var(--h3-color-dark);
	--p-color: var(--p-color-dark);
	--dmode-button-text-color: var(--dmode-button-text-color-dark);
	--dmode-button-background: var(--dmode-button-background-dark)
}

/* Customization of Dark Mode button */
#dark-mode-button {
	border: none;
	border-radius: 6px;
	height: 38px;
	width: 100px;
	background: var(--dmode-button-background);
	color: var(--dmode-button-text-color);
	float: right;
	margin-top: 5px;
	font-weight: 600;
}
/* --------------------
- Ryan and Lilit Dark Mode Section End
-------------------- */

/* --------------------
- Owner: 	Helen Plesko
- Date:		November 21, 2023
- Section:	INDUSTRY PAGE CSS
- Inspired by:	Shawn Morgan, https://fleming.desire2learn.com/d2l/home
				https://www.w3schools.com/howto/howto_css_image_overlay.asp
				https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_two_columns_responsive
				https://www.w3schools.com/howto/howto_css_image_center.asp
-------------------- */

/* Customization of paragraph text within content page, introduces the current industry page */
.pageintro p {
	color: var(--p-color);
	text-align: center;
	font-weight: normal;
	font-size: 15px;
	font-family: helvetica, arial, sans-serif;
	padding: 10px;
	border-radius: 6px;
	border: 2px solid var(--h1-color);
	background: var(--background-color-light);
	margin-left: 33%;
	margin-right: 33%;
}

/* Container to hold projects */
.projectcontainer {
	position: relative;
	width: 100%;
}

/* Customization of project image, center to column, change opacity when user hovers over it */
.projectimage {
	opacity: 1;
	display: block;
	transition: .6s ease-in-out;
	backface-visibility: hidden;
	margin-left: auto;
	margin-right: auto;
}

/* Customization project image text box that displays text in the middle of the project image */
.projectmiddle {
	transition: .6s ease-in-out;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/* Customization of project image opacity when hovered over it */
.projectcontainer:hover .projectimage {
	opacity: 0.4;
}

/* Customization of project text box opacity when hovered over the project image */
.projectcontainer:hover .projectmiddle {
	opacity: 1;
}

/* Customization of text about the project that appears when hovered over the image */
.projecttext p {
	background-color: var(--h3-color);
	color: #FFF;
	font-weight: normal;
	font-size: 16px;
	font-family: helvetica, arial, sans-serif;
	padding: 16px 32px;
	border-radius: 6px;
	text-align: center;
}

/* Responsive Two Column Layout for Projects Page Begin */
/* Projects Section 
.industrypage {
	box-sizing: border-box;
	
}*/
/* Create two even columns */
.columnprojects {
	float: left;
	width: 50%; /* two columns */
	padding-left: 10px;
	padding-right: 10px;
}

/* Clear floats after columns to allow page to continue flow of other content */
.rowprojects:after {
	content: "";
	display: table;
	clear: both;
	padding-bottom: 25px;
	margin-bottom: 6px;
}
/* Display projects in one column if page size is too small */
@media screen and (max-width: 1500px) {
	.columnprojects {
		width: 100%;
	}
}
/* Responsive Two Column Layout for Projects Page End */

/* --------------------
- Helen Industry Page CSS End
-------------------- */

/* --------------------
- Owner: 	Lori Lowy
- Date:		November 29, 2023
- Section:	INDEX PAGE CSS
- Inspired by:	https://blog.hubspot.com/website/video-background-css
-------------------- */

/*Customization of banner class*/
.hbanner {
	position: relative;
	width: 100%;
	height: 450px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

/*Customization of h1 element in banner class*/
.hbanner h1 {
	text-align: center;
	font-size: 5rem;
	z-index: 1;
	padding: 20px;
	margin: 15px;
	color: #fff;
	opacity: 0.7;
}

/*Customization of vidcontainer class*/
.hvidcontainer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
}

/*Customization of dividing lines*/
hr.rounded {
	border-radius: 6px;
	border-top: 3px solid var(--h1-color);
	margin: 25px;
}

.haboutus ul, .haboutus p {
	color: var(--p-color);
	text-align: center;
	font-weight: normal;
	font-size: 18px;
	font-family: helvetica, arial, sans-serif;
	padding-left: 40px;
	padding-right: 40px;
	list-style-type: none;
	padding-bottom: 20px;
}

/*3 column design for industries section on index*/
.hcolumn1, .hcolumn2, .hcolumn3 {     /*src: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_two_columns_responsive*/
    float: left;
    width: 33.33%;
    padding: 15px;
	text-align: center;
}

/*clear floats after the columns using the row class*/
.row::after {      
    content: "";
    display: table;
    clear: both;
}

	/*Responsive design for phone screens to resize images*/
img {                  /*selects image tag src=https://www.w3schools.com/css/css_rwd_images.asp*/
	max-width: 100%;   /*image width wont exceed its max width but will size down responsively*/
	height: auto;
}	

.hindustries p {
	text-align: center;
}


@media screen and (max-width: 600px) { /*If the browser window is 600px or smaller the width for classes starting w column is set to 100%*/
    [class*="hcolumn"] {
        width: 100%;
    }
}

/* --------------------
- Lori Index Page CSS End
-------------------- */

/* --------------------
- Owner: 	Lilit Markarian
- Date:		December 2, 2023
- Section:	Career Page CSS
- Inspired by:	
- Content from: Canva
-------------------- */

/*Customization of banner class*/
.bannercareer {
	position: relative;
	max-width: 100%;
	width: 100;
	height: 450px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

/*Customization of vidcontainer for careers page class*/
.vidcontainerc {
	position: absolute;
	overflow: hidden;
	top: 0;
	right: 0;
	z-index: -1;
	width: 100%;
	height: auto;
	transform: translate(0%,-40%);
}

/*Customization of h2 for the banner of careers page*/
.bannercareer h2 {
	text-align: center;
	font-size: 3rem;
	z-index: 1;
	padding: 20px;
	margin: 15px;
	color: white;
	opacity: 0.8;
}

/*Customization of green mask over the video banner*/
.mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	background-color: rgba(65, 83, 79, 0.2);
  }

/*Customization of cards and containers of Career page*/
/* - Inspired by https://www.youtube.com/watch?v=TJe8fYs0PiI */
.career-container {
	background-color: transparent;
	max-width: 1500px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 100px;
}

.columncareers1, .columncareers2, .columncareers3 {
	margin: 0 20px 25px;
	background-color: transparent;
	flex-basis: 33%;
	justify-content: center;
	text-align: center;
}

.card {
	padding: 15px 25px;
}


/* I got a little help from chatgpt to know how to do the responsive part of cards. used only 2 lines, the flex-direction and flex-basis */
@media (max-width: 600px) {
	.career-container {
	  padding: 0 20px; 
	  flex-direction: column;
	  align-items: center;
	}
	.columncareers1, .columncareers2, .columncareers3 {
	  flex-basis: 100%; 
	  margin: 0 0 25px;
	}
}

/* Customization of the county maps on the career page */
.countries-container{
	background-color: transparent;
	border: 20px solid rgba(103, 125, 121, 0.226);
	max-width: 1450px;;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	height: auto;
	padding: 0px 15px;
}

.countries{
	margin: 0 5px 25px;
	background-color: transparent;
	flex-basis: 100%;
	justify-content: center;
	text-align: center;
}

.countries-card {
	padding: 15px;
	align-items: center;
	flex-wrap: wrap;
}

@media (max-width: 600px) {
	.countries-container {
	  padding: 0 50px; 
	}
	.countries {
	  flex-basis: 50%; 
	}
}

/* customization of images and texts of the Careers page */
.wrapped-content {
	margin: 25px auto;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 75vh;
	background-color: transparent;
	width: 70%;
	padding: 0%;
}

.careersimages {
	max-width: 100%;
	float: left;
	margin-left: 20px;
	margin-right: 25px;
}

.wrapped-text-box  {
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapped-text-box h2 {
	display: flex;
	font-size: 35px;
}

.wrapped-text-box h3 {
	display: flex;
	font-size: 20px;
	color: #576864;
}

/* customization of second images and texts of the Careers page */
.wrapped-content-2 {
	margin: 25px auto;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 75vh;
	background-color: transparent;
	width: 70%;
	padding: 0%;
}

.careersimages-2 {
	max-width: 100%;
	float: left;
	display: flex;
	margin-left: 20px;
	margin-right: 20px;
}

.wrapped-text-box-2  {
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* customization of third images and texts of the Careers page */
.wrapped-content-3 {
	margin: 25px auto;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 75vh;
	background-color: transparent;
	width: 70%;
	padding: 0%;
}

.careersimages-3 {
	max-width: 100%;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

.wrapped-text-box-3  {
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Customization of Open Application part of Careers page */
.openappcontent {
	margin: 0 39px 25px;
	background-color: transparent;
	display: flex;
	text-align: center;
}

.openapp {
	margin: 0 20px 25px;
	background-color: transparent;
	flex-basis: 100%;
	text-align: center;
	padding:0;
}

.openapp h2 {
	display: flex;
	font-size: 35px;
	margin-top: 40px;
	justify-content: center;
	align-items: center;
}

.openapp h3{
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 18px;
}

@media screen and (min-width:600px) {
	.openapp {
		flex-basis:48%;
		margin:0 1%;
	}
}
/* --------------------
- Lilit Career Page CSS End
-------------------- */

/* --------------------
- Owner: 	Helen Plesko
- Date:		December 3, 2023
- Section:	MEDIA PAGE CSS
- Inspired by:	
-------------------- */
.mediabody ul {
	list-style-type: none;
}

.calendarmonth {
	padding: 10px;
	width: 100%;
	background: #7ea69c;
}

.calendarmonth h3 {
	color: #FFF;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: helvetica, arial, sans-serif;
	text-align: center;
	font-weight: bold;  
}

.calendarweekdays {
	margin: 0;
	padding: 10px 0;
	background-color: #ddd;
}

.calendarweekdays li {
	display: inline-block;
	width: 13.6%;
	color: #666;
	text-align: center;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
}

.calendardays {
	padding: 10px 0;
	background: #eee;
	margin: 0;
}

.calendardays li {
	list-style-type: none;
	display: inline-block;
	width: 13.6%;
	text-align: center;
	margin-bottom: 5px;
	font-size: 16px;
	color: #777;
}

.calendardays .mediaevent {
	color: #000;
	font-weight: bold;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .calendarweekdays li, .calendardays li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .calendarweekdays li, .calendardays li {width: 12.5%;}
  .calendardays li {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .calendarweekdays li, .calendardays li {width: 12.2%;}
}

.medianews img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
