/* --------------------
- Owner: 	Ryan Jeffery
- Date:		November 23, 2023
- Section:	CSS Variables 
- Inspired By:	
-------------------- */
/* Variables for certain styles to assist JS nightmode function and make it easier to change the look of the site */
:root {
	--background-a: #fff;
	--background-b:	#000;
	--text-a: #637e77;
	--text-b: #7ea69c;
}
/* --------------------
- Ryan Variable Section End
-------------------- */

/* --------------------
- Owner: 	Helen Plesko & Ryan Jeffery
- Date:		November 23, 2023
- Section:	Body CSS 
- Inspired By:	
-------------------- */
/* Customization of the site as a whole */
body {
	background-color: var(--background-a)#f5f5f5;
	font-family: helvetica, arial, sans-serif;
}
/* --------------------
- Helen & Ryan Body CSS Section End
-------------------- */

/* --------------------
- Owner: 	Lori Lowy & Craig Jurkiewicz
- Date:		November 23, 2023
- Section:	NAVIGATION BAR CSS
- Inspired By: https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp
               https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp
			   https://www.w3schools.com/howto/howto_css_menu_icon.asp
-------------------- */
/* Customization of the navigation bar */
.navbar {
	overflow: hidden;
	background-color: #2b3634;
	transition: .3s ease-in-out;
}

/* Customization of the links in the navigation bar */
.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	display: block;
}

/* Selects active class for current page*/
.active {
	background-color: #637e77;
	color: white;
}

/* Customization of the navigation bar dropdown*/
.dropdown {
	float: left;
	overflow: hidden;
}

/* Customization of the dropdown button*/
.dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

/* Customization of the navigation bar links when mouse hovers over them */
.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #7ea69c;
	transition: 0.3s;
}

/* Customization of the navigation bar dropdown content*/
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	transition: 0.3s;
}

/* Customization of the links in the navigation bar dropdown*/
.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	transition: 0.8s;
}

/* Customization of the navigation bar dropdown text when mouse hovers over them */
.dropdown-content a:hover{
	background-color: #e0e0e0;
}

/* Shows the dropdown menu on hover*/
.dropdown:hover .dropdown-content{
	display: block;
}

/* Responsive Design for the navigation bar */
@media screen and (max-width: 850px) {
	/* Selects navbar links an the drop btn class in dropdown class */
	.navbar a, .dropdown .dropbtn {
    	display: none;
		transition: 0.3s;
 	}
	
	/* Selects all elements in the navbar and responsive class*/
	.navbar.responsive {position: relative;}
	
	/* Selects links in both navbar and responsive class*/
	.navbar.responsive a {
		float: none;
		display: block;
	  	text-align: left;
	  	transition: 0.3s;
	}
	
	/* Selects dropdown in the navbar and responsive class*/
	.navbar.responsive .dropdown {float: none;}
	
	/* Selects dropdown content in the navbar and responsive class*/
	.navbar.responsive .dropdown-content {position: relative;}
	
	/* Selects dropdown button in the navbar and responsive class*/
	.navbar.responsive .dropdown .dropbtn {
	  display: block;
	  width: 100%;
	  text-align: left;
	  transition: 0.3s;
	}
	
	/* Selects hamburger class (menu icon)*/
	.hamburger {
		cursor: pointer;
		float: right;
		transition: 0.3s;
		position: relative;
		padding-right: 5px;
		display: block;
	}
	/* CSS for the 3 bars, adding a transition effect as well so when the animation is run there is a smooth transition */
	.bar1, .bar2, .bar3 {
		width: 35px;
		height: 5px;
		background-color: white;
		margin: 6px 0;
		transition: 0.4s;
	}
	/* lines 155-157 represent the CSS for the animation, where bars 1 and 3 will move to a 45 degree angle and the middle bar will disappear */
	.change .bar1 {transform: translate(0, 11px) rotate(-45deg);}
	.change .bar2 {opacity: 0;}
	.change .bar3 {transform: translate(0, -11px) rotate(45deg);}
}
/* --------------------
- Lori & Craig Navigation Bar CSS Section End
-------------------- */

/* --------------------
- Owner: 	Helen Plesko
- Date:		November 21, 2023
- Section:	CSS Heading Styles 
- Colour inspiration from: https://www.colorhexa.com/
-------------------- */
/* Customization of Header 1 */
h1 {
	color: #41534f;
	text-align: left;
	font-weight: bold;
	font-size: 30px;
	font-family: helvetica, arial, sans-serif;
	padding-left: 10px;
	padding-right: 10px;
}

/* Customization of Header 2 */
h2 {
	color: #637e77;
	text-align: left;
	font-weight: bold;
	font-size: 25px;
	font-family: helvetica, arial, sans-serif;
	padding-left: 10px;
	padding-right: 10px;
}

/* Customization of Header 3 */
h3 {
	color: #7ea69c;
	text-align: left;
	font-weight: normal;
	font-size: 20px;
	font-family: helvetica, arial, sans-serif;
	padding-left: 10px;
	padding-right: 10px;
}

/* Customization of paragraph text */
p {
	color: #000;
	text-align: left;
	font-weight: normal;
	font-size: 15px;
	font-family: helvetica, arial, sans-serif;
	padding-left: 10px;
	padding-right: 10px;
}
/* --------------------
- Helen Heading & Paragraph Styles Section End
-------------------- */

/* --------------------
- Owner: 	Craig Jurkiewicz
- Date:		November 23, 2023
- Section:	Comment Box CSS
- Inspired By: 
-------------------- */
/* inspiration for the comment box was taken from w3 schools https://www.w3schools.com/howto/howto_css_contact_section.asp */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Styling the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Creating the columns that float beside each otehr */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

 
  
  
/* --------------------
- Owner: 	Craig Jurkiewicz 
- Date:		November 23, 2023
- Section:	Testimonials
- Inspired By:	https://www.youtube.com/watch?v=-XX6MgbzQa8 
-------------------- */
/*  creating divs to hold the content of the testimonials   were taken from https://www.youtube.com/watch?v=-XX6MgbzQa8 
  */

.testibody{
display:grid;
place-items: center;
height:100%;
background: aquamarine;
}
.wrapper{
	max-width: 120px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.wrapper .box{
	background: greenyellow;
	border-radius: 3px;
	padding: 25px;
	width: calc(33% - 10px)
}
.wrapper .box i.quote{
	font-size: 20px;
	color: black;
}
.wrapper .box .content{
	font-size: 10px;
	 color:yellow;
	 display: flex;
	 align-items: center;
	justify-content: space-between;
	padding-top: 10px;
}
.box .info .name{
	font-size: 16px;
	color:purple;
	font-weight: 600;
}
.wrapper .box .info .stars{
	margin-top:2px;
}
/* customizing the content in the boxes of the clients iamges*/ 
.wrapper .box .content .clientimage{
height: 75px;
width: 75px;
 
}


 .box .content .clientimage img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid blueviolet;
}
/* responsive design for the testimonial boxes to go from a row format to a column format when screen size is changed CJ */
@media (max-width: 600px){
.wrapper .box{
width: calc(50% -10px);
margin: 10px 0; 
}
}
@media (max-width: 600px){
	.wrapper .box{
	width: 100%;
	margin: 10px 0; 
	}
}


/* --------------------
- Owner: 	Helen Plesko
- Date:		November 23, 2023
- Section:	FOOTER CSS 
- Inspired By:	https://www.evarigisconsulting.com/
		https://www.w3schools.com/html/html_layout.asp
		https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_social_media_buttons
-------------------- */

/* Customization of footer background */
.footer {
	position: static;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #2b3634;
}

/* Customization of footer paragraph text */
.footer p {
	color: #FFF;
	text-align: center;
	font-weight: normal;
	font-size: 13px;
	font-family: helvetica, arial, sans-serif;
	padding-bottom: 10px;
}

/* Customization of footer address info */
.footer address {
	color: #cfcfcf;
	text-align: center;
	font-weight: normal;
	font-size: 13px;
	font-family: helvetica, arial, sans-serif;
	padding-top: 10px;
}

/* Customization of all footer social media icons */
.fa {
	padding: 20px;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	width: 18px;
	transition: .3s ease-in-out;
}

/* Customization of footer social media icon hover - makes icon semi-transparent when user hovers over it */
.fa:hover {
    opacity: 0.5;
}

/* Customization of footer Facebook icon */
.fa-facebook {
	background: #3B5998;
	color: #FFF;
}

/* Customization of footer Twitter icon */
.fa-twitter {
	background: #55ACEE;
	color: #FFF;
}

/* Customization of footer Instagram icon */
.fa-instagram {
	background: #125688;
	color: #FFF;
}

/* --------------------
- Helen Footer Section End
-------------------- */
